<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /php_2025/AI_project/ecommerce-php/public/
    
    # Remove index.php from URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]
</IfModule>
